@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./Assets//Images/KumiDrive\ Back.jpg");
  background-size: cover;
  background-position: center center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url(./Assets//Fonts//Open_Sans/OpenSans-ExtraBold.ttf);
 }
 @font-face {
    font-family: "OpenSans-Medium";
    src: url(./Assets//Fonts//Open_Sans/OpenSans-Medium.ttf);
   }
   @font-face {
    font-family: "OpenSans-Regular";
    src: url(./Assets//Fonts//Open_Sans/OpenSans-Regular.ttf);
   }
   @font-face {
    font-family: "OpenSans-SemiBold";
    src: url(./Assets//Fonts//Open_Sans/OpenSans-SemiBold.ttf);
   }
   @font-face {
    font-family: "Poppins-Light";
    src: url(./Assets//Fonts//Poppins/Poppins-Light.ttf);
   }
   @font-face {
    font-family: "Poppins-Regular";
    src: url(./Assets//Fonts//Poppins/Poppins-Regular.ttf);
   }
   @font-face {
    font-family: "Poppins-SemiBold";
    src: url(./Assets//Fonts//Poppins/Poppins-SemiBold.ttf);
   }
   @font-face {
    font-family: "Poppins-SemiBoldItalic";
    src: url(./Assets//Fonts//Poppins/Poppins-SemiBoldItalic.ttf);
   }
